.text-blue {
    color:#2676a3;
}
.text-center{
    text-align: center;
}
.text-orange {
    color: orange;
}
.text-light{
    color: #b0ccc9;
}
#header-button{
    background-color: orange;
    color: white;
    margin-left: 3px;
}
#vien{
    margin:0px;
}
#tmp{
    margin-right: 6px;
}
.content-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b0ccc9 ;
    margin: 0px;
    
}
#content-header {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
}
.head{
    display: flex;
}
.content-menu a {
    text-decoration: none;
    color: #82B8BC;
    padding:0px;
    margin:0px
}
.content-menu li {
    list-style-type: none;
    margin: 0 10px;
}
.fullwidth{
    width:100%;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:30px;
    padding:20px;
}
#menu .img{
    display: flex;
    flex-wrap: wrap;
    width: 48%; 
}
.img .img-up{
    width: 100%;
}
.img .img-down{
    width:50%;
}
.img-up img{
    width: 99%;
    height:99%;
}

.des>h2{
    margin:0px;
    font-size: 35px;
}

.img-down img{
    width: 98%;
    height: 100%;
}

#menu .des{
    width: 48%;
    height: 100%;
    position: relative;
}
.gifts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    width:100%;
    height: 100%;
    padding-top :170px;;
}
.des p{
    font-size: 40px;
}
.des h3{
    padding-top: 200px;
    font-size: 40px;
}
.item{
    width: 48%;
}
.item img{
    width:80%;
}


/* NEW YEAR */
#nys{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 gap:20px;
}
#nys .item{
    border: 1px solid #544e4ec5;
    box-shadow: 0 26px 58px 0 rgba(27, 23, 23, 0.503), 0 5px 14px 0 rgba(57, 52, 52, 0.137);
    width:20%;
    position: relative;
}
#nys p{
    position: absolute;
    top:0;
    left: 0;
    margin-top:0;
    padding: 5px;
    background: rgba(84, 84, 77, 0.644);
    color: white;
}
#nys h3{
    background-color: orange;
    color: white;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
#nys .item img{
    width:100%;
}
#conAI{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap:20px;
    padding: 20px;
}
#conAI .img-ai{
    width:45%;
}
#conAI .text-ai{
    width: 45%;
}
#conAI .img-ai img{
    width:100%;
}
.text-ai{
    height: 100%;
    font-size: 20px;
}
.text-ai h3{
    margin: 0px;
}
.foot{
    text-align: center;
    background: rgb(47, 47, 223);
    color: white;
    padding: 10px;
    margin-bottom: 0px;
}




